# =======================================================
#  DOTNET BUILD ARTIFACTS
# =======================================================
bin/
obj/
TestResults/
publish/

# =======================================================
#  USER-SPECIFIC AND OS FILES
# =======================================================
*.swp
*.user
*.suo
*.userosscache
*.sln.docstates

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# =======================================================
#  VISUAL STUDIO / VS CODE
# =======================================================
.vs/
.vscode/

# =======================================================
#  GIT
# =======================================================
.git/
.gitignore
.gitattributes

# =======================================================
#  LOGS
# =======================================================
*.log
logs/

# =======================================================
#  PYTHON (Python folder is not needed in the API docker)
# =======================================================
../Python/
../Python/**

# =======================================================
#  TEST FILES & TEMP
# =======================================================
*.coverage
coverage*
*.tmp
*.temp
*.nupkg
``